@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Advent Pro";
    background-color: hsl(198, 87%, 94%);
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100vh;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    padding: 0 30px;
}

header li a{
    color: hsl(198, 62%, 20%);
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

header .button{
    padding: 10px;
    background-color: hsl(198, 62%, 20%);
    border-radius: 5px;
}

.button a{
    color: #FFF;   
}